body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #08dcb4;
}
header {
    margin-top: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: url(./images/bg1.jpg) no-repeat center center fixed;
    background-size: cover;
}

header > img {
    width: 8em;
    height: 8em;
    border-radius: 100%;
    border: 4px solid #08dcb4;
    box-shadow: #08dcb4 0px 2px 30px 0px;
}

header > h1 {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    border-radius: 1em;
    background-color: #000a;
    padding: 0.5em 1em;
    border: 2px solid #fff;
    box-shadow: #fff 0px 2px 16px 0px;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    margin-top: 2%;
}

ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
}

ul > li {
    background-color: #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 10em;
    padding: 1em;
    margin: 1.4em 0;
    box-shadow: rgba(28, 32, 93 / 24%, 0px 2px 8px 0px);
}

ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}

a {
    color: black;
    text-decoration: none;
}
